In [1]:
import pandas as pd
import numpy as np
import luigi
from dotenv import load_dotenv
from thunderbolt import Thunderbolt

In [2]:
pd.options.display.max_columns = 100

In [3]:
%load_ext autoreload
%autoreload 2

In [4]:
from scripts.feature.dataset import GetDataSet
from scripts.feature.get_feature import GetFeature, Ord3, Ord4

In [5]:
load_dotenv()
luigi.configuration.LuigiConfigParser.add_config_path('./luigi.cfg')

In [6]:
!echo $NROWS

0

In [7]:
nrows = None
train = pd.read_csv("../input/cat-in-the-dat-ii/train.csv", nrows=nrows)
train.head()

,id,bin_0,bin_1,bin_2,bin_3,bin_4,nom_0,nom_1,nom_2,nom_3,nom_4,nom_5,nom_6,nom_7,nom_8,nom_9,ord_0,ord_1,ord_2,ord_3,ord_4,ord_5,day,month,target
0,0,0.0,0.0,0.0,F,N,Red,Trapezoid,Hamster,Russia,Bassoon,de4c57ee2,a64bc7ddf,598080a91,0256c7a4b,02e7c8990,3.0,Contributor,Hot,c,U,Pw,6.0,3.0,0
1,1,1.0,1.0,0.0,F,Y,Red,Star,Axolotl,NaN,Theremin,2bb3c3e5c,3a3a936e8,1dddb8473,52ead350c,f37df64af,3.0,Grandmaster,Warm,e,X,pE,7.0,7.0,0
2,2,0.0,1.0,0.0,F,N,Red,NaN,Hamster,Canada,Bassoon,b574c9841,708248125,5ddc9a726,745b909d1,NaN,3.0,NaN,Freezing,n,P,eN,5.0,9.0,0
3,3,NaN,0.0,0.0,F,N,Red,Circle,Hamster,Finland,Theremin,673bdf1f6,23edb8da3,3a33ef960,bdaa56dd1,f9d456e57,1.0,Novice,Lava Hot,a,C,NaN,3.0,3.0,0
4,4,0.0,NaN,0.0,T,N,Red,Triangle,Hamster,Costa Rica,NaN,777d1ac2c,3a7975e46,bc9cc2a94,NaN,c5361037c,3.0,Grandmaster,Cold,h,C,OZ,5.0,12.0,0

In [10]:
luigi.build([GetFeature()], local_scheduler=True)

DEBUG: Checking if GetFeature(features=[]) is complete
DEBUG: Checking if Target() is complete
DEBUG: Checking if Bin0() is complete
DEBUG: Checking if Bin1() is complete
DEBUG: Checking if Bin2() is complete
DEBUG: Checking if Bin3() is complete
DEBUG: Checking if Bin4() is complete
DEBUG: Checking if Ord0() is complete
DEBUG: Checking if Ord1() is complete
DEBUG: Checking if Ord2() is complete
DEBUG: Checking if Ord3() is complete
DEBUG: Checking if Ord4() is complete
DEBUG: Checking if Ord5() is complete
INFO: Informed scheduler that task   GetFeature____083ddcb1e0   has status   PENDING
DEBUG: Checking if GetDataSet(nrows=0, random_state=110) is complete
INFO: Informed scheduler that task   Ord5__99914b932b   has status   PENDING
INFO: Informed scheduler that task   GetDataSet_0_110_06f4dc0e20   has status   DONE
INFO: Informed scheduler that task   Ord4__99914b932b   has status   DONE
INFO: Informed scheduler that task   Ord3__99914b932b   has status   DONE
INFO: Informed scheduler that task   Ord2__99914b932b   has status   DONE
INFO: Informed scheduler that task   Ord1__99914b932b   has status   DONE
INFO: Informed scheduler that task   Ord0__99914b932b   has status   DONE
INFO: Informed scheduler that task   Bin4__99914b932b   has status   DONE
INFO: Informed scheduler that task   Bin3__99914b932b   has status   DONE
INFO: Informed scheduler that task   Bin2__99914b932b   has status   DONE
INFO: Informed scheduler that task   Bin1__99914b932b   has status   DONE
INFO: Informed scheduler that task   Bin0__99914b932b   has status   DONE
INFO: Informed scheduler that task   Target__99914b932b   has status   DONE
INFO: Done scheduling tasks
INFO: Running Worker with 1 processes
DEBUG: Asking scheduler for work...
DEBUG: Pending tasks: 2
INFO: [pid 54313] Worker Worker(salt=833629807, workers=1, host=tenajimachine, username=yuto, pid=54313) running   Ord5()
INFO: [pid 54313] Worker Worker(salt=833629807, workers=1, host=tenajimachine, username=yuto, pid=54313) done      Ord5()
DEBUG: 1 running tasks, waiting for next task to finish
INFO: Informed scheduler that task   Ord5__99914b932b   has status   DONE
DEBUG: Asking scheduler for work...
DEBUG: Pending tasks: 1
INFO: [pid 54313] Worker Worker(salt=833629807, workers=1, host=tenajimachine, username=yuto, pid=54313) running   GetFeature(features=[])

Mem. usage decreased to 11.44 Mb (62.5% reduction)

INFO: [pid 54313] Worker Worker(salt=833629807, workers=1, host=tenajimachine, username=yuto, pid=54313) done      GetFeature(features=[])
DEBUG: 1 running tasks, waiting for next task to finish
INFO: Informed scheduler that task   GetFeature____083ddcb1e0   has status   DONE
DEBUG: Asking scheduler for work...
DEBUG: Done
DEBUG: There are no more tasks to run at this time
INFO: Worker Worker(salt=833629807, workers=1, host=tenajimachine, username=yuto, pid=54313) was stopped. Shutting down Keep-Alive thread
INFO:
===== Luigi Execution Summary =====

Scheduled 14 tasks of which:
* 12 complete ones were encountered:
    - 1 Bin0(...)
    - 1 Bin1(...)
    - 1 Bin2(...)
    - 1 Bin3(...)
    - 1 Bin4(...)
    ...
* 2 ran successfully:
    - 1 GetFeature(...)
    - 1 Ord5(...)

This progress looks :) because there were no failed tasks or missing dependencies

===== Luigi Execution Summary =====

True

In [11]:
tb = Thunderbolt("./resources")

In [12]:
tb.get_task_df().sort_values('task_name')

,task_id,task_name,last_modified,task_params
3,3,Bin0,2020-02-14 10:11:07.509716,{}
4,4,Bin1,2020-02-14 10:11:43.531494,{}
14,14,Bin2,2020-02-14 10:11:37.577888,{}
10,10,Bin3,2020-02-14 10:11:34.288706,{}
0,0,Bin4,2020-02-14 10:11:35.870096,{}
8,8,GetDataSet,2020-02-14 08:44:06.563995,"{'nrows': '0', 'random_state': '110'}"
1,1,GetFeature,2020-02-14 12:34:20.903518,{'features': '[]'}
11,11,GetFeature,2020-02-15 07:57:01.473479,{'features': '[]'}
5,5,Ord0,2020-02-15 07:54:25.551625,{}
6,6,Ord1,2020-02-14 22:02:30.432922,{}
13,13,Ord2,2020-02-15 07:54:24.580637,{}
12,12,Ord3,2020-02-14 22:14:21.507438,{}
9,9,Ord4,2020-02-14 22:15:49.544195,{}
2,2,Ord5,2020-02-15 07:57:00.645106,{}
7,7,Target,2020-02-14 10:11:41.745557,{}

In [13]:
tb.load(11)

,target,BinaryCategoricalFeature_bin_0,BinaryCategoricalFeature_bin_1,BinaryCategoricalFeature_bin_2,BinaryCategoricalFeature_bin_3,BinaryCategoricalFeature_bin_4,Ordinary_ord_0,Ordinary_ord_1,Ordinary_ord_2,Ordinary_ord_3,Ordinary_ord_4,Ord5_1,Ord5_2,Ordinary_ord_5
id,,,,,,,,,,,,,,
0,0.0,0,0,0,0,0,3,2,4,3,21,80,119,56
1,0.0,1,1,0,0,1,3,6,3,5,24,112,69,150
2,0.0,0,1,0,0,0,3,0,1,14,16,101,78,105
3,0.0,2,0,0,0,0,1,1,6,1,3,0,0,0
4,0.0,0,2,0,1,0,3,6,2,8,3,79,90,50
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
999995,NaN,0,0,1,1,0,2,4,3,14,18,100,112,103
999996,NaN,0,0,0,0,0,1,2,0,14,24,85,83,79
999997,NaN,0,0,1,1,0,1,6,5,13,16,84,76,73
999998,NaN,0,0,0,0,1,3,1,6,8,12,68,73,11
999999,NaN,0,0,1,0,0,3,2,1,3,14,118,120,177